<div class="stream">
  <div class="title"><%= stream.title %></div>
  <div class="description"><%= simple_format stream.description %></div>
  <div class="start_time"><%= stream.start_time.to_s(:long) %></div>
  <div class="goal"><%= number_to_currency stream.goal %></div>
  <div class="raised"><%= number_to_currency stream.tickets.count * stream.price %></div>
</div>
