!!!
%html
  %head
    %title BeMyTv
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "yNioA7I5RDzrNnSjvwPQZISIUqmsHN0PYlEAcO2Szjs", :name => "google-site-verification"}/
  %body
    %div.container
      - if notice
        %h4{align: 'center'}
          .alert.alert-success.alert-dismissible= notice
      - if alert
        %h4{align: 'center'}
          .alert.alert-danger.alert-dismissible= alert
      = yield
